.container {
    padding: 1px;
}

.card {
    background-color: #0e6431;
    flex: auto;
}
.footer {
    background-color: #0e4d3f;
}

.h1_header {
    padding: 60px;
    text-align: center;
    background: #0e4d3f;
    color: white;
    font-size: 30px;
}

ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 5px 0;
}

