.container {
    padding: 1px;
}

.card {
    background-color: #0e6431;
    flex: auto;
}
.footer {
    background-color: #0e4d3f;
}

.h1_header {
    padding: 60px;
    text-align: center;
    background: #0e4d3f;
    color: white;
    font-size: 30px;
}

.experience {
    display: flex;
    justify-content: space-between;
}

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 6px;
    background-color: #0f5e4d;
    display: flex;
}

ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 5px 0;
}


#img-logo {
    height: 60px;
}

